body {
  /*background-color: black;*/
}

#gameBoard {
    align-content: center;
    border: 1px solid black;
    height: 550px;
    width: 400px;
    margin-left: 400px;
    background-color: #aa0000;
    opacity: 1;
}

tr td {
  border: 1px solid black;
  height:75px;
  width: 75px;
}
#game{
	margin-left: auto;
	margin-right: auto;
  border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid black;

	empty-cells: show;
}

#game tr td
{
	border: 1px solid black;
	background-color: transparent;
}





.animate_me {
  width: 75px;
  height: 75px;
  background-color: #ff0090;
  animation-duration: 5s;
}

h1 {
  text-align: center;
}
