/*@@media (max-width: 600px) {

}*/

.animate {
    background-image:url(http://orig14.deviantart.net/c74b/f/2011/193/d/2/ml_thwomp_anim_by_neslug-d3nogzk.gif);
    background-size: cover;
    animation-duration: 2s;
}

h1 {
  text-align: center;
}*/


body
{
  background-image: url(http://i.imgur.com/lYfCn.png);
  font-family: calibri, sans-serif;
	text-align: center;
}

#game
{
	margin-left: auto;
	margin-right: auto;
  /*background-image: url(http://i.imgur.com/lYfCn.png);*/
	border-spacing: 0px;
	border: 1px solid black;

	empty-cells: show;
}

#game tr td
{
	border: 1px solid black;
  height: 75px;
  width: 75px;

}
